<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index1 page</title>
</head>
<body>
    <form action="/profile" method="POST">
        <h1>Login form</h1>
        <input type="email" placeholder="Enter your email" name="email">
        <br>
        <input type="password" placeholder="Enter your password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>